/* styles */


* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header, main {
    display: flex;
    justify-content: center;
}

header h1 {
    margin-top: 70px;
    font-weight: 900;
}

main {
    padding: 100px 0 30px 0;
}

.joke {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
    align-items: center;
    width: 60%;
    margin: 30px 0 0 0;
}

p {
    text-align: center;
}
section p {    
    font-size: 1.2rem;
    padding: 4px 10px;
}

.button {
    display: flex;
    justify-content: center;
}

.button button {
    background: #4227f2;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    border: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

footer {
    padding: 120px 0 0 0;
}

footer p {
    padding: 4px 10px;
}
